<!DOCTYPE html>
<html lang="en">

  {% include 'base/head.html' %}
  {% include 'base/navbar.html' %}

  <body>
    Air Other Charges<br>
    <input type="text" placeholder="origin" class="origin" size="4" />
    <input type="text" placeholder="dest" class="dest" size="4"/>
    <input type="text" placeholder="name" class="name" size="4"/>

    <select id="cur" class="cur" >
      <option value="USD">USD</option>
      <option value="KRW">KRW</option>
    </select>
    <input type="text" placeholder="rate" class="rate" size="4"  />
    <select id="unit" class="unit">
      <option value="BL">BL</option>
      <option value="KG">KG</option>
    </select>
    <select id="chargeat" class="chargeAt" >
      <option value="origin">origin</option>
      <option value="freight">freight</option>
      <option value="detination">detination</option>
    </select>
    <input type="text" placeholder="group" class="group" size="4" />
    <button class="save">저장</button>

    <table class="">
      <thead>
        <tr>
          <td>origin</td>
          <td>dest</td>
          <td>name</td>
          <td>rate</td>
          <td>chargeAt</td>
          <td>group</td>
          <td>update/delete</td>
        </tr>
      </thead>
      <tbody class="tbody">
        {% for i in info %}
        <tr class="tr{{i.id}}">
          <td><input type="text" value="{{i.origin}}" class="origin{{i.id}}" size="4" disabled /></td>
          <td><input type="text" value="{{i.dest}}" class="dest{{i.id}}" size="4" disabled /></td>
          <td><input type="text" value="{{i.name}}" class="name{{i.id}}" size="4" disabled /></td>
          <td>
            <select id="cur" class="cur{{i.id}}"  disabled>
              <option value="{{i.cur}}">{{i.cur}}</option>
              <option value="====">====</option>
              <option value="USD">USD</option>
              <option value="KRW">KRW</option>
            </select>
            <input type="text" value="{{i.rate}}" class="rate{{i.id}}" size="4" disabled />
            <select id="unit" class="unit{{i.id}}" disabled>
              <option value="{{i.unit}}">{{i.unit}}</option>
              <option value="====">====</option>
              <option value="BL">BL</option>
              <option value="KG">KG</option>
            </select>
          </td>
          <td>
            <select id="" class="chargeAt{{i.id}}" disabled>
              <option value="{{i.chargeAt}}">{{i.chargeAt}}</option>
              <option value="====">====</option>
              <option value="origin">origin</option>
              <option value="freight">freight</option>
              <option value="destination">destination</option>
            </select>
          </td>
          <td><input type="text" value="{{i.group}}" class="group{{i.id}}" size="4" disabled /></td>
          <td>
            <button id="{{i.id}}" class="editbtn{{i.id}}" onclick="editbtn(this.id)">수정</button>
            <button style="display: none" id="{{i.id}}" class="updatebtn{{i.id}}" onclick="updaterate(this.id)" data-bs-toggle="modal" data-bs-target="#updateModal{{i.id}}">저장</button>
            <div class="modal fade" id="updateModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">변경사항이 저장되었습니다.</div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                  </div>
                </div>
              </div>
            <button id="{{i.id}}" class="deletebtn{{i.id}}" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal{{i.id}}">
              삭제
            </button>
            <div class="modal fade" id="deleteModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">정말 삭제하시겠습니까?</div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" id="{{i.id}}"class="btn btn-danger" onclick="deleterate(this.id)" data-bs-dismiss="modal">삭제하기</button>
                    </div>
                  </div>
                </div>
              </div>
            <button style="display: none" id="{{i.id}}" class="cancelbtn{{i.id}}" onclick="cancel(this.id)">취소</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'base/footer.html' %}
    <script>


      $(".save").on("click", function () {
        var origin = $(".origin").val();
        var dest = $(".dest").val();
        var name = $(".name").val();
        var cur = $(".cur").val();
        var rate = $(".rate").val();
        var unit = $(".unit").val();
        var chargeAt = $(".chargeAt").val();
        var group = $(".group").val();

        param = {
          origin: origin,
          dest: dest,
          name: name,
          cur: cur,
          rate: rate,
          unit: unit,
          chargeAt: chargeAt,
          group: group,
        };

        $.ajax({
          type: "POST",
          url: "{% url 'airotheradd' %}",
          data: JSON.stringify(param),
          success: function (data) {
            var id = JSON.stringify(data.id);
            var appendrow = `   <tr class="tr${id}">
                        <td>${id}</td>
                        <td>${origin}</td>
                        <td>${dest}</td>
                        <td>${name}</td>
                        <td>${cur}${rate}${unit}</td>
                        <td>${chargeAt}</td>
                        <td>${group}</td>
                        <td><button>수정</button><button id="${id}" onclick="deleterate(this.id)">삭제</button></td>
                        </tr>`;
            $(".tbody").append(appendrow);
          },
        });
      });

      function deleterate(id) {
        param = {
          id: id,
        };

        $.ajax({
          type: "POST",
          url: "{% url 'airotherdelete' %}",
          data: JSON.stringify(param),
          success: function () {
            $(".tr" + id).remove();
          },
        });
      }
      function editbtn(id) {
        $(".updatebtn" + id).css("display", "");
        $(".cancelbtn" + id).css("display", "");
        $(".deletebtn" + id).css("display", "none");
        $(".editbtn" + id).css("display", "none");
        $(".origin" + id).removeAttr("disabled");
        $(".dest" + id).removeAttr("disabled");
        $(".name" + id).removeAttr("disabled");
        $(".cur" + id).removeAttr("disabled");
        $(".rate" + id).removeAttr("disabled");
        $(".unit" + id).removeAttr("disabled");
        $(".chargeAt" + id).removeAttr("disabled");
        $(".group" + id).removeAttr("disabled");
        $(".tr"+id).css("background-color","yellow")
      }

      function cancel(id) {
        $(".updatebtn" + id).css("display", "none");
        $(".cancelbtn" + id).css("display", "none");
        $(".deletebtn" + id).css("display", "");
        $(".editbtn" + id).css("display", "");
        $(".origin" + id).attr("disabled", true);
        $(".dest" + id).attr("disabled", true);
        $(".name" + id).attr("disabled", true);
        $(".cur" + id).attr("disabled", true);
        $(".rate" + id).attr("disabled", true);
        $(".unit" + id).attr("disabled", true);
        $(".chargeAt" + id).attr("disabled", true);
        $(".group" + id).attr("disabled", true);
      }

      function updaterate(id) {
        var origin = $(".origin" + id).val();
        var dest = $(".dest" + id).val();
        var name = $(".name" + id).val();
        var cur = $(".cur" + id).val();
        var rate = $(".rate" + id).val();
        var unit = $(".unit" + id).val();
        var chargeAt = $(".chargeAt" + id).val();
        var group = $(".group" + id).val();

        param = {
          id: id,
          origin: origin,
          dest: dest,
          name: name,
          cur: cur,
          rate: rate,
          unit: unit,
          chargeAt: chargeAt,
          group: group,
        };

        $.ajax({
          type: "POST",
          url: "{% url 'airotherupdate' %}",
          data: JSON.stringify(param),
          success: function () {
            $(".updatebtn" + id).css("display", "none");
            $(".cancelbtn" + id).css("display", "none");
            $(".deletebtn" + id).css("display", "");
            $(".editbtn" + id).css("display", "");
            $(".origin" + id).attr("disabled", true);
            $(".dest" + id).attr("disabled", true);
            $(".name" + id).attr("disabled", true);
            $(".cur" + id).attr("disabled", true);
            $(".rate" + id).attr("disabled", true);
            $(".unit" + id).attr("disabled", true);
            $(".chargeAt" + id).attr("disabled", true);
            $(".group" + id).attr("disabled", true);
            $(".tr"+id).css("background-color","")
          },
        });
      }
    </script>
  </body>
</html>
