{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quotation</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
</head>
{% include 'base/navbar.html' %}
<body>
    quotation
    <input type="text" placeholder="origin" class="origin">
    <input type="text" placeholder="dest" class="dest">
    <select class="incoterms">
        <option value="EXW">EXW</option>
        <option value="FOB">FOB</option>
        <option value="CFR">CFR</option>
        <option value="DAP">DAP</option>
    </select>
    <input type="text" placeholder="cbm" class="cbm">
    <input type="text" placeholder="kg" class="kg">

    <button onclick="showQuotation()">견적보기</button>
    <div><p id="lcltotal"></p>
         <p id="airtotal" ></p>
         <p id="fcltotal" ></p>
        
    </div>
   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
      $.ajaxSetup({
        headers: { "X-CSRFToken": "{{csrf_token}}" },
      });
    </script>

    <script>
        function showQuotation(){
            var origin = $('.origin').val();
            var dest = $('.dest').val();
            var incoterms = $('.incoterms').val();
            var cbm = $('.cbm').val();
            var kg = $('.kg').val();

            param = {
                origin : origin,
                dest : dest,
                incoterms : incoterms,
                cbm : cbm,
                kg : kg,
            };
            $.ajax({
                type: "POST",
                url: "{% url 'showquote' %}",
                data: JSON.stringify(param),
                success: function (data) {
                    var lcltotal = data['lcltotal']
                    $('#lcltotal').html('lcl 견적 금액 :' + lcltotal+'원')
                    
                    var airtotal = data['airtotal']
                    $('#airtotal').html('air 견적 금액 :' + airtotal+'원')

                    var fcltotal = data['fcltotal']
                    $('#fcltotal').html('fcl 견적 금액 :' + fcltotal+'원')

                },
              });
        }


    </script>



</body>

    
</html>